.sc-attached-resource {
  @include ts-interface;
  font-weight: 500;

  &.sm-selected {
    background: rgba(176, 210, 251, 0.8);
  }

  .se-href {
    font-style: italic;
  }

  .se-title + .se-href {
    margin-left: 3px;
  }
}
