.sc-attached-file {
  @include ts-interface;

  &.sm-selected {
    background: rgba(176, 210, 251, 0.8);
  }

  .se-filename {
    font-style: italic;
  }

  .se-title + .se-filename {
    margin-left: 3px;
  }
}
