.sc-authors-list > .sc-author {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
  // border-radius: 3px;
}

.sc-authors-list > .sc-author.sm-selected {
  background: rgba(176, 210, 251, 0.8);
}

.sc-authors-list > .sc-author:not(:last-of-type)::after {
  content: ', '
}

.sc-authors-list > .sc-author > .se-name > * + *::before {
  content: ' '
}

.sc-authors-list > .sc-author > .se-affiliations {
  vertical-align: super;
  font-size: x-small;
  margin-left: 1px;
}

.sc-authors-list > .sc-author > .se-affiliations > .se-affiliation:not(:last-of-type)::after {
  content: ','
}
