.sc-editor-toolbar {
  height: var(--toolbar-height);
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

.sc-editor-toolbar .sc-horizontal-stack > * {
  margin: 0 1px;
}

.sc-editor-toolbar .sc-button {
  min-width: var(--small-button-height);
}