.sc-figure-package-toc {
  padding: 10px;
}

.sc-figure-package-toc .sc-layouted-figure .se-label {
  font-weight: 600;
  font-size: 10px;
}

.sc-figure-package-toc .se-toc-item,
.sc-figure-package-toc .sc-section-label {
  cursor: pointer;
}
