.sc-figure-panel-thumbnail {
  cursor: pointer;
  padding: 5px;
  padding-top: 20px;
  position: relative;
  height: 100%;
  width: 100%;
}

.sc-figure-panel-thumbnail .se-label {
  position: absolute;
  top: 5px;
  left: 5px;
}

.sc-figure-panel-thumbnail img {
  max-width: 100%;
  max-height: 100%;
}
