.sc-figure-panel {
  padding: 20px;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
  cursor: pointer;
}

.sc-figure-panel.sm-selected {
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #2E72EA;
}

.sc-figure-panel > .sc-section-label:first-child {
  margin-top: 0px;
}


.sc-figure-panel .sc-graphic img {
  max-width: 90%;
}