.sc-layouted-figure {
  padding: 20px;
  box-shadow: 0 0 0 0.75pt #f8f5f5, 0 0 3pt 0.75pt #ccc;
}

.sc-layouted-figure.sm-plain {
  padding: 0px;
  box-shadow: none;
}

.sc-layouted-figure table,
.sc-layouted-figure tbody,
.sc-layouted-figure tr,
.sc-layouted-figure td {
  vertical-align: top;
}

/*
  TODO: originally I wanted to put the box-shadow on the preview
  but then it was not taking full space, maybe padding?
  Putting it on td works as desired
*/
.sc-layouted-figure td:hover {
  box-shadow: 0 0 0 0.75pt #f8f5f5, 0 0 3pt 0.75pt #ccc;
}
