/*
  TODO:
  Modal and its CSS has to be redesigned from scratch.
  ATM, it is not very responsive, and it does not work well for long content.
*/
.sc-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 95%;
  background: #ffffff;
  box-shadow: var(--card-shadow);
  border-radius: var(--popover-border-radius);
}

.sc-modal.sm-size-default {
  width: 800px;
}

.sc-modal.sm-size-small {
  max-width: var(--modal-small-size);
  padding: var(--half-spacing) var(--default-spacing);
}

.sc-modal.sm-size-medium {
  max-width: var(--modal-medium-size);
}

.sc-modal.sm-size-large {
  max-width: var(--modal-large-size);
}

.sc-modal > * {
  padding: 0 var(--double-spacing);
}

.sc-modal > .sc-divider {
  padding: 0!important;
}

.sc-modal > .se-modal-header {
  height: 60px;
  border-bottom: 1px solid #EAEAEA;
}

.sc-modal > .se-modal-header .sc-title {
  @include ts-large-interface;
}

.sc-modal > .se-modal-header .sc-button {
  opacity: 0.5;
}

.sc-modal > .se-modal-footer {
  height: 60px;
}

.sc-modal > .se-modal-footer > .sc-horizontal-stack {
  justify-content: flex-end;
}

.sc-modal > .se-modal-body {
  overflow: auto;
}

.sc-modal > .se-modal-body > .sc-form > * {
  margin: var(--half-spacing) 0;
}

.sc-modal .sc-section > .se-section-label {
  @include ts-interface;
}
