/*
  TODO:
  Modal and its CSS has to be redesigned from scratch.
  ATM, it is not very responsive, and it does not work well for long content.
*/
.sc-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  min-height: 400px;
  min-width: 400px;
}

.sc-modal .se-modal-dialog {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: var(--card-shadow);
  border-radius: var(--popover-border-radius);
  padding: var(--half-spacing) var(--double-spacing);
}

.sc-modal.sm-size-default .se-modal-dialog {
  width: 800px;
}

.sc-modal.sm-size-small .se-modal-dialog {
  max-width: var(--modal-small-size);
  padding: var(--half-spacing) var(--default-spacing);
}

.sc-modal.sm-size-medium .se-modal-dialog {
  max-width: var(--modal-medium-size);
}

.sc-modal.sm-size-large .se-modal-dialog {
  max-width: var(--modal-large-size);
}

.sc-modal .se-modal-dialog > .sc-divider {
  padding: 0!important;
}

.sc-modal .se-modal-dialog > .se-modal-header {
  height: 60px;
  border-bottom: 1px solid #EAEAEA;
}

.sc-modal .se-modal-dialog > .se-modal-header .sc-title {
  @include ts-large-interface;
}

.sc-modal .se-modal-dialog > .se-modal-header .sc-button {
  opacity: 0.5;
}

.sc-modal .se-modal-dialog > .se-modal-footer {
  height: 60px;
}

.sc-modal .se-modal-dialog > .se-modal-footer > .sc-horizontal-stack {
  justify-content: flex-end;
}

.sc-modal .se-modal-dialog > .se-modal-body {
  max-height: calc(100vh - var(--header-height) - var(--header-height));
  overflow: auto;
  padding: 2px;
}

.sc-modal .se-modal-dialog > .se-modal-body > .sc-form > * {
  margin: var(--half-spacing) 0;
}

.sc-modal .sc-section > .se-section-label {
  @include ts-interface;
}

@media screen and (max-width: 640px) {
  .sc-modal .se-modal-dialog {
    height: 100%;
    top: unset;
    left: unset;
    transform: none;
    border-radius: 0;
  }
}