.sc-multi-select {
  @include ts-interface;
  width: 100%;
}

.sc-multi-select .sc-horizontal-stack {
  margin-bottom: var(--half-spacing);
}

.sc-multi-select .se-remove-item {
  color: var(--primary-button-color);
  padding: 0 var(--default-spacing);
  margin: 0px;
}

.sc-multi-select .sc-button {
  height: initial;
}

.sc-multi-select .se-options {
  @include ts-interface;
  height: var(--small-button-height);
  max-width: 200px;
  margin-top: var(--half-spacing);
  padding: 0 var(--default-spacing);
  margin-top: var(--half-spacing);
  color: var(--primary-button-color);
  background-color: rgba(26,115,232,0.1);
  background-position: right var(--default-spacing) top 50%, 0 0;
  border: none;
  cursor: pointer;
}

.sc-multi-select .se-options:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.sc-multi-select .se-placeholder {
  @include ts-quiet;
}