.sc-multi-input {
  @include ts-interface;
  width: 100%;
}

.sc-multi-input .sc-horizontal-stack {
  margin-bottom: var(--half-spacing);
}

.sc-multi-input .se-add-item {
  @include ts-interface;
  padding: 0;
  color: var(--primary-button-color);
  cursor: pointer;
}

.sc-multi-input .se-add-item:focus {
  background: none;
}

.sc-multi-input .se-remove-item {
  color: var(--primary-button-color);
  padding: 0 var(--default-spacing);
  margin: 0px;
}