.sc-popover {
  background: white;
  border-radius: var(--popover-border-radius);
  box-shadow: var(--popover-shadow);
  position: absolute;
  padding-top: 4px;
  padding-bottom: 4px;
  // NOTE: positioning the popover outside of the visible area by default
  // to have it out of the way, because we can not use display:none
  top: -10000px;
  left: -10000px;
  z-index: 1;
}

.sc-popover.sm-hidden {
  visibility: hidden;
}
