.sc-query-select-option {
  @include ts-interface;
  padding: var(--half-spacing);
  cursor: pointer;

  &:hover {
    background: rgba(0, 123, 255, .2);
  }

  &.sm-selected {
    background: var(--primary-button-color);
    color: white;
  }
}
