.sc-smart-figure-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sc-smart-figure-editor > .sc-two-column-layout > .se-column {
  flex-grow: 1;
  height: calc(100vh - var(--toolbar-height));
  width: 100%;
}

.sc-smart-figure-editor > .sc-two-column-layout > .se-column.sm-left {
  width: 300px;
  border-right: solid 1px var(--light-border-color);
  flex-grow: 0;
  flex-shrink: 0;
  // background: var(--substance-background);
}

.sc-smart-figure-editor > .sc-two-column-layout > .se-column.sm-right {
  flex-grow: 1;
  width: 100%;
}

.sc-smart-figure-editor .sc-surface {
  padding: var(--input-padding);
  margin: var(--negative-input-padding);
  cursor: text;
}

.sc-smart-figure-editor > .sc-editor-toolbar {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  background: #fff;
  z-index: 1;
}

.sc-smart-figure-editor .se-smart-figure-editor-content {
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.sc-smart-figure-editor .sc-smart-figure {
  padding-left: 40px;
  max-width: 700px;
}

.sc-smart-figure-editor .sc-container-editor:focus {
  border-color: transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, .5);
}

