.sc-smart-figure-panel {
  @include card-style;
}

.sc-smart-figure-panel .sc-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.sc-smart-figure-panel .sc-image.sm-empty {
  opacity: 0.4;
}
