.sc-smart-figure-toc {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 5px;
}

.sc-smart-figure-toc .sc-layouted-figure-panels .se-label {
  font-weight: 600;
  font-size: 10px;
}

.sc-smart-figure-toc > * + * {
  margin-top: 10px;
}

.sc-smart-figure-toc .se-toc-item,
.sc-smart-figure-toc .sc-section-label {
  cursor: pointer;
}
