.sc-smart-figure {
  @include ts-content;
  margin-top: var(--double-spacing);
  padding-bottom: 200px;
}

.sc-smart-figure > * {
  margin: var(--double-spacing) 0;
}

.sc-smart-figure > .se-authors-and-affiliations > * + * {
  margin-top: var(--default-spacing);
}

.sc-smart-figure-panels > * + * {
  margin-top: var(--quad-spacing);
}